In [4]:
headers = {'User-Agent':'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/90.0.4430.93 Safari/537.36'}

In [5]:
import sys
!{sys.executable} -m pip install requests
!{sys.executable} -m pip install pandas
!{sys.executable} -m pip install pandas
!{sys.executable} -m pip install beautifulsoup4

import requests
import pandas as pd
from time import sleep
from random import randint
from bs4 import BeautifulSoup as soup

In [13]:
pages = range(0,2490,30)

In [14]:
links = []

for page in pages:
    if page == 0:
        html = requests.get('https://www.tripadvisor.in/Hotels-g187147-Paris_Ile_de_France-Hotels.html',headers=headers)
        bsobj = soup(html.content,'lxml')
        for review in bsobj.findAll('a',{'class':'review_count'}):
            a = review['href']
            a = 'https://www.tripadvisor.in'+ a
            links.append(a)
    else:
        html = requests.get('https://www.tripadvisor.in/Hotels-g187147-oa' + str(page) + '-Paris_Ile_de_France-Hotels.html',headers=headers)
        print('https://www.tripadvisor.in/Hotels-g187147-oa' + str(page) + '-Paris_Ile_de_France-Hotels.html')
        bsobj = soup(html.content,'lxml')
        for review in bsobj.findAll('a',{'class':'review_count'}):
            a = review['href']
            a = 'https://www.tripadvisor.in'+ a
            links.append(a)
        sleep(randint(10,20))

https://www.tripadvisor.in/Hotels-g187147-oa30-Paris_Ile_de_France-Hotels.html
https://www.tripadvisor.in/Hotels-g187147-oa60-Paris_Ile_de_France-Hotels.html
https://www.tripadvisor.in/Hotels-g187147-oa90-Paris_Ile_de_France-Hotels.html
https://www.tripadvisor.in/Hotels-g187147-oa120-Paris_Ile_de_France-Hotels.html
https://www.tripadvisor.in/Hotels-g187147-oa150-Paris_Ile_de_France-Hotels.html
https://www.tripadvisor.in/Hotels-g187147-oa180-Paris_Ile_de_France-Hotels.html
https://www.tripadvisor.in/Hotels-g187147-oa210-Paris_Ile_de_France-Hotels.html
https://www.tripadvisor.in/Hotels-g187147-oa240-Paris_Ile_de_France-Hotels.html
https://www.tripadvisor.in/Hotels-g187147-oa270-Paris_Ile_de_France-Hotels.html
https://www.tripadvisor.in/Hotels-g187147-oa300-Paris_Ile_de_France-Hotels.html
https://www.tripadvisor.in/Hotels-g187147-oa330-Paris_Ile_de_France-Hotels.html
https://www.tripadvisor.in/Hotels-g187147-oa360-Paris_Ile_de_France-Hotels.html
https://www.tripadvisor.in/Hotels-g187147-oa390-Paris_Ile_de_France-Hotels.html
https://www.tripadvisor.in/Hotels-g187147-oa420-Paris_Ile_de_France-Hotels.html
https://www.tripadvisor.in/Hotels-g187147-oa450-Paris_Ile_de_France-Hotels.html
https://www.tripadvisor.in/Hotels-g187147-oa480-Paris_Ile_de_France-Hotels.html
https://www.tripadvisor.in/Hotels-g187147-oa510-Paris_Ile_de_France-Hotels.html
https://www.tripadvisor.in/Hotels-g187147-oa540-Paris_Ile_de_France-Hotels.html
https://www.tripadvisor.in/Hotels-g187147-oa570-Paris_Ile_de_France-Hotels.html
https://www.tripadvisor.in/Hotels-g187147-oa600-Paris_Ile_de_France-Hotels.html
https://www.tripadvisor.in/Hotels-g187147-oa630-Paris_Ile_de_France-Hotels.html
https://www.tripadvisor.in/Hotels-g187147-oa660-Paris_Ile_de_France-Hotels.html
https://www.tripadvisor.in/Hotels-g187147-oa690-Paris_Ile_de_France-Hotels.html
https://www.tripadvisor.in/Hotels-g187147-oa720-Paris_Ile_de_France-Hotels.html
https://www.tripadvisor.in/Hotels-g187147-oa750-Paris_Ile_de_France-Hotels.html
https://www.tripadvisor.in/Hotels-g187147-oa780-Paris_Ile_de_France-Hotels.html
https://www.tripadvisor.in/Hotels-g187147-oa810-Paris_Ile_de_France-Hotels.html
https://www.tripadvisor.in/Hotels-g187147-oa840-Paris_Ile_de_France-Hotels.html
https://www.tripadvisor.in/Hotels-g187147-oa870-Paris_Ile_de_France-Hotels.html
https://www.tripadvisor.in/Hotels-g187147-oa900-Paris_Ile_de_France-Hotels.html
https://www.tripadvisor.in/Hotels-g187147-oa930-Paris_Ile_de_France-Hotels.html
https://www.tripadvisor.in/Hotels-g187147-oa960-Paris_Ile_de_France-Hotels.html
https://www.tripadvisor.in/Hotels-g187147-oa990-Paris_Ile_de_France-Hotels.html
https://www.tripadvisor.in/Hotels-g187147-oa1020-Paris_Ile_de_France-Hotels.html
https://www.tripadvisor.in/Hotels-g187147-oa1050-Paris_Ile_de_France-Hotels.html
https://www.tripadvisor.in/Hotels-g187147-oa1080-Paris_Ile_de_France-Hotels.html
https://www.tripadvisor.in/Hotels-g187147-oa1110-Paris_Ile_de_France-Hotels.html
https://www.tripadvisor.in/Hotels-g187147-oa1140-Paris_Ile_de_France-Hotels.html
https://www.tripadvisor.in/Hotels-g187147-oa1170-Paris_Ile_de_France-Hotels.html
https://www.tripadvisor.in/Hotels-g187147-oa1200-Paris_Ile_de_France-Hotels.html
https://www.tripadvisor.in/Hotels-g187147-oa1230-Paris_Ile_de_France-Hotels.html

KeyError: 'href'

In [3]:
len(links)

1036

In [13]:
review_list = []
reviews = dict()

In [14]:
for link in links:
    html2 = requests.get(link,headers=headers)
    sleep(randint(1,5))
    bsobj2 = soup(html2.content,'lxml')
    for r in bsobj2.findAll('q'):
        try:
            review_list.append(r.span.text.strip())
        except:
            review_list.append('')
    reviews[link]= review_list
    review_list = []

In [15]:
len(reviews)

1036

In [ ]:
for key in reviews.keys():
    if '' in reviews.get(key):
        print('Key:',key)
        print('Values:',reviews.get(key))
        key_to_delete = key
        
del reviews[key_to_delete]

In [21]:
len(reviews)

1035

In [28]:
i = 0
for key, val in reviews.items():
    if i == 0:
        for item in val:
            print(item + '\n')
    i += 1

We decided to stay one night at this ‘hotel’ at the end of a trip to Paris because of the reviews, and it’s relative closeness to the Gare de Lyon, which we arrived to by TGV.  First thing to note: The hotel has no cooling system, so for stays in the summer when temperatures can be in the 30s, it’s not your best bet. The air in the upstairs common area was stuffy and hot. Our room was better because we could open the large floor to ceiling window, but there are lots of mosquitos (because of a dank, and dirty small pool / tub in the front yard ) and all the bees on the property, so opening windows is not a good option. The Dyson ventilator in the room doesn’t help- I don’t believe it’s a fan, maybe an air purifier?  The property has no sign outside, and it’s easy to miss if

Having had experiences with other establishments/hotels in the ‘I Love Eco Hotels’ Chain and by the looks of photos and the reviews on booking.com made for this Eden Lodge then I will have to say that the disappointment is quite high.  The entrance is a large port from the street with a small sign on the wall next to the port. We stood outside for about 20 minutes before someone opened the doors for us. We had tried to call several times but no one was answering the phone. We tried to buzz on the door communication button but no one responded.  From the photos it looks like you have this large beautiful garden space with nice places to sit outside, in reality its a small backyard garden with a minimum maintenance and not very inviting to use the garden nor the tables and chairs.

We loved everything about Eden Lodge!   The location is convenient enough with a great bus just outside that takes you to the Marais and onwards, and a subway station close by as well.  The Hotel itself is charming, with a peaceful garden, interior designs inspired by the 50ies and 60ies, and smelling wonderfully of fresh wood.  The beds are super comfortable and the bathroom was so beautiful that we had to photograph it...   The breakfast is set up in the charming kitchen and is small but with everything you need (fresh coffee, bread, butter, jam, cheeses, ham, fruit salad, yoghurt and croissants...). Everything was of great quality and presented with love and care.  The staff is equally lovely!   A small word of caution - be sure to bring the codes for the two doors before you

It's little bit tricky to find it if you arrive at night time so you need to count on your navi :) Hotel is nicely hidden behind two massive doors. It's like a nice kindersurprise :)  Very eco friendly hotel, nice and confortable design. Surprisingly big bath, surely for two :) Japanese loo! Clean, comfortable bed, realy good and rich breakfast.  Friendly and helpful personell. Lot's of plases to eat or go out around.

Wonderfully hidden behind an inconspicuous door lies this green oasis. Rooms are spacious and well equipped. Breakfast is far above Parisian standards and the hosts are impeccable. The lodge is located within 3-4min walking distance from the subway.

In [22]:
links2 = [link for link in links if link != 'https://www.tripadvisor.in/Hotel_Review-g187147-d650199-Reviews-Hotel_Villa_Glamour-Paris_Ile_de_France.html#REVIEWS']
len(links2)

1035

In [18]:
review_titles = dict()
titles_list = []
ratings = dict()
ratings_list = []
user_places = dict()
user_places_list = []
contributions = dict()
contributions_list = []
helpful_votes_list = []
helpful_votes = dict()
trips = []
trip_types = dict()

In [24]:
items_list = []
num_rooms_list = []
num_rooms = dict()

In [25]:
rankings_list = []
rankings = dict()

In [29]:
for link in links2:
    html2 = requests.get(link,headers=headers)
    sleep(randint(1,5))
    bsobj2 = soup(html2.content,'lxml')
    for title in bsobj2.findAll('a',{'class':'ocfR3SKN'}):
        titles_list.append(title.span.text.strip())
    review_titles[link] = titles_list
    titles_list = []

In [30]:
len(review_titles)

1035

In [31]:
for link in links2:
    html2 = requests.get(link,headers=headers)
    sleep(randint(1,5))
    bsobj2 = soup(html2.content,'lxml')
    for item in bsobj2.findAll('div',{'class':'_1EpRX7o3'}):
        place = item.find('span',{'class':'_1TuWwpYf'})
        if place:
            user_places_list.append(place.span.text.strip())
        else:
            user_places_list.append(place)
    user_places[link] = user_places_list
    user_places_list = []

In [32]:
len(user_places)

1035

In [33]:
for link in links2:
    html2 = requests.get(link,headers=headers)
    sleep(randint(1,5))
    bsobj2 = soup(html2.content,'lxml')
    for item in bsobj2.findAll('div',{'class':'_1EpRX7o3'}):
        count = 0
        for cont in item.findAll('span',{'class':'_1fk70GUn'}):
            count+=1
            if count > 1:
                helpful_votes_list.append(cont.text.strip())
        if count != 2:
            helpful_votes_list.append('None')
    helpful_votes[link] = helpful_votes_list
    helpful_votes_list = []

In [34]:
len(helpful_votes)

1035

In [35]:
for link in links2:
    html2 = requests.get(link,headers=headers)
    sleep(randint(1,5))
    bsobj2 = soup(html2.content,'lxml')
    for item in bsobj2.findAll('div',{'class':'_1NHwuRzF'}):
            items_list.append(item.text)
    num_rooms_list.append(items_list[-1])
    num_rooms[link] = num_rooms_list
    num_rooms_list = []
    items_list = []

In [36]:
print(len(num_rooms))

1035

In [37]:
for link in links2:
    html2 = requests.get(link,headers=headers)
    sleep(randint(1,5))
    bsobj2 = soup(html2.content,'lxml')
    for item in bsobj2.findAll('div',{'class':'nf9vGX55'}):
        rating = item.span
        ratings_list.append(rating)
    ratings[link] = ratings_list
    ratings_list = []

In [38]:
len(ratings)

1035

In [39]:
for link in links2:
    html2 = requests.get(link,headers=headers)
    sleep(randint(1,5))
    bsobj2 = soup(html2.content,'lxml')
    for item in bsobj2.findAll('span',{'class':'_28eYYeHH'}):
            rankings_list.append(item.text)
    rankings[link] = rankings_list
    rankings_list = []

In [40]:
len(rankings)

1035

In [41]:
for link in links2:
    html2 = requests.get(link,headers=headers)
    sleep(randint(1,5))
    bsobj2 = soup(html2.content,'lxml')
    for item in bsobj2.findAll('div',{'class':'_3hDPbqWO'}):
        trip = item.find('span',{'class':'_2bVY3aT5'})
        if trip:
            trips.append(trip.text.strip())
        else:
            trips.append(trip)
    trip_types[link] = trips
    trips = []

In [42]:
len(trip_types)

1035

In [43]:
prices = dict()
prices_list = []
items_list = []

In [44]:
for link in links2:
    html2 = requests.get(link,headers=headers)
    sleep(randint(1,5))
    bsobj2 = soup(html2.content,'lxml')
    for item in bsobj2.findAll('div',{'class':'_1NHwuRzF'}):
            items_list.append(item.text)
    prices_list.append(items_list[0])
    prices[link] = prices_list
    prices_list = []
    items_list = []

In [45]:
len(prices)

1035

In [46]:
for link in links2:
    html2 = requests.get(link,headers=headers)
    sleep(randint(1,5))
    bsobj2 = soup(html2.content,'lxml')
    for item in bsobj2.findAll('div',{'class':'_1EpRX7o3'}):
        count = 0
        for cont in item.findAll('span',{'class':'_1fk70GUn'}):
            count+=1
            if count == 1:
                contributions_list.append(cont.text.strip())
    contributions[link] = contributions_list
    contributions_list = []

In [47]:
len(contributions)

1035

In [63]:
hotel_issue_list = []
for key, rev in reviews.items():
    if len(rev)<5:
        hotel_issue_list.append(key)
        print(key + ': ' + str(len(rev)))

https://www.tripadvisor.in/Hotel_Review-g187147-d220006-Reviews-Grand_Hotel_Leveque-Paris_Ile_de_France.html#REVIEWS: 0
https://www.tripadvisor.in/Hotel_Review-g187147-d264821-Reviews-Hotel_des_Mines-Paris_Ile_de_France.html#REVIEWS: 2
https://www.tripadvisor.in/Hotel_Review-g187147-d625550-Reviews-Seven_Hotel_Paris-Paris_Ile_de_France.html#REVIEWS: 0
https://www.tripadvisor.in/Hotel_Review-g187147-d19742766-Reviews-Monsieur_George_Hotel_Spa-Paris_Ile_de_France.html#REVIEWS: 0
https://www.tripadvisor.in/Hotel_Review-g187147-d11963840-Reviews-Hotel_Petit_Lafayette-Paris_Ile_de_France.html#REVIEWS: 3
https://www.tripadvisor.in/Hotel_Review-g187147-d21513086-Reviews-Hotel_Du_Sentier-Paris_Ile_de_France.html#REVIEWS: 2
https://www.tripadvisor.in/Hotel_Review-g187147-d236456-Reviews-Ibis_Styles_Paris_Gare_de_Lyon_Bastille-Paris_Ile_de_France.html#REVIEWS: 4
https://www.tripadvisor.in/Hotel_Review-g187147-d229569-Reviews-The_ReMIX_Hotel-Paris_Ile_de_France.html#REVIEWS: 1
https://www.tripadvisor.in/Hotel_Review-g187147-d17759437-Reviews-MEININGER_Hotel_Paris_Porte_de_Vincennes-Paris_Ile_de_France.html#REVIEWS: 4
https://www.tripadvisor.in/Hotel_Review-g187147-d197577-Reviews-Sofitel_Le_Scribe_Paris_Opera-Paris_Ile_de_France.html#REVIEWS: 3
https://www.tripadvisor.in/Hotel_Review-g187147-d19091707-Reviews-Aparthotel_Adagio_Paris_Nation-Paris_Ile_de_France.html#REVIEWS: 2
https://www.tripadvisor.in/Hotel_Review-g187147-d1033610-Reviews-Hotel_10_Opera-Paris_Ile_de_France.html#REVIEWS: 3
https://www.tripadvisor.in/Hotel_Review-g187147-d197421-Reviews-Normandy_Hotel-Paris_Ile_de_France.html#REVIEWS: 2
https://www.tripadvisor.in/Hotel_Review-g187147-d636502-Reviews-Hotel_Korner_Etoile-Paris_Ile_de_France.html#REVIEWS: 1
https://www.tripadvisor.in/Hotel_Review-g187147-d196827-Reviews-Chouchou-Paris_Ile_de_France.html#REVIEWS: 0
https://www.tripadvisor.in/Hotel_Review-g187147-d233756-Reviews-Hotel_AMI-Paris_Ile_de_France.html#REVIEWS: 0
https://www.tripadvisor.in/Hotel_Review-g187147-d929153-Reviews-Voco_Paris_Montparnasse-Paris_Ile_de_France.html#REVIEWS: 2

In [64]:
len(hotel_issue_list)

17

In [65]:
link_list = []

for link in links2:
    i = 0
    if link not in hotel_issue_list:
        while i < 5:
            link_list.append(link)
            i += 1
        
link_list[:10]

['https://www.tripadvisor.in/Hotel_Review-g187147-d8873883-Reviews-Eden_Lodge_Paris-Paris_Ile_de_France.html#REVIEWS',
 'https://www.tripadvisor.in/Hotel_Review-g187147-d8873883-Reviews-Eden_Lodge_Paris-Paris_Ile_de_France.html#REVIEWS',
 'https://www.tripadvisor.in/Hotel_Review-g187147-d8873883-Reviews-Eden_Lodge_Paris-Paris_Ile_de_France.html#REVIEWS',
 'https://www.tripadvisor.in/Hotel_Review-g187147-d8873883-Reviews-Eden_Lodge_Paris-Paris_Ile_de_France.html#REVIEWS',
 'https://www.tripadvisor.in/Hotel_Review-g187147-d8873883-Reviews-Eden_Lodge_Paris-Paris_Ile_de_France.html#REVIEWS',
 'https://www.tripadvisor.in/Hotel_Review-g187147-d228694-Reviews-Hotel_Malte_Astotel-Paris_Ile_de_France.html#REVIEWS',
 'https://www.tripadvisor.in/Hotel_Review-g187147-d228694-Reviews-Hotel_Malte_Astotel-Paris_Ile_de_France.html#REVIEWS',
 'https://www.tripadvisor.in/Hotel_Review-g187147-d228694-Reviews-Hotel_Malte_Astotel-Paris_Ile_de_France.html#REVIEWS',
 'https://www.tripadvisor.in/Hotel_Review-g187147-d228694-Reviews-Hotel_Malte_Astotel-Paris_Ile_de_France.html#REVIEWS',
 'https://www.tripadvisor.in/Hotel_Review-g187147-d228694-Reviews-Hotel_Malte_Astotel-Paris_Ile_de_France.html#REVIEWS']

In [66]:
len(link_list)

5090

In [67]:
data_final = pd.DataFrame(index = range(len(link_list)), columns = ['Hotel_Name'])
data_final.head(10)

  Hotel_Name
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
5        NaN
6        NaN
7        NaN
8        NaN
9        NaN

In [68]:
data_final['Hotel_Name'] = ''
data_final.head(10)

  Hotel_Name
0
1
2
3
4
5
6
7
8
9

In [69]:
for i in range(len(link_list)):
    data_final['Hotel_Name'][i] = link_list[i]

data_final.head(10)

                                          Hotel_Name
0  https://www.tripadvisor.in/Hotel_Review-g18714...
1  https://www.tripadvisor.in/Hotel_Review-g18714...
2  https://www.tripadvisor.in/Hotel_Review-g18714...
3  https://www.tripadvisor.in/Hotel_Review-g18714...
4  https://www.tripadvisor.in/Hotel_Review-g18714...
5  https://www.tripadvisor.in/Hotel_Review-g18714...
6  https://www.tripadvisor.in/Hotel_Review-g18714...
7  https://www.tripadvisor.in/Hotel_Review-g18714...
8  https://www.tripadvisor.in/Hotel_Review-g18714...
9  https://www.tripadvisor.in/Hotel_Review-g18714...

In [70]:
data_final['Review'] = ''
data_final['Rating'] = ''
data_final['User_Location'] = ''
data_final['Helpful_Votes'] = ''
data_final['Number_Of_Rooms'] = ''
data_final.head()

,Hotel_Name,Review,Rating,User_Location,Helpful_Votes,Number_Of_Rooms
0,https://www.tripadvisor.in/Hotel_Review-g18714...,,,,,
1,https://www.tripadvisor.in/Hotel_Review-g18714...,,,,,
2,https://www.tripadvisor.in/Hotel_Review-g18714...,,,,,
3,https://www.tripadvisor.in/Hotel_Review-g18714...,,,,,
4,https://www.tripadvisor.in/Hotel_Review-g18714...,,,,,

In [71]:
data_final.tail()

,Hotel_Name,Review,Rating,User_Location,Helpful_Votes,Number_Of_Rooms
5085,https://www.tripadvisor.in/Hotel_Review-g18714...,,,,,
5086,https://www.tripadvisor.in/Hotel_Review-g18714...,,,,,
5087,https://www.tripadvisor.in/Hotel_Review-g18714...,,,,,
5088,https://www.tripadvisor.in/Hotel_Review-g18714...,,,,,
5089,https://www.tripadvisor.in/Hotel_Review-g18714...,,,,,

In [74]:
links3 = [i for i in links2 if i not in hotel_issue_list]
print(len(links3))
links3[:2]

1018

['https://www.tripadvisor.in/Hotel_Review-g187147-d8873883-Reviews-Eden_Lodge_Paris-Paris_Ile_de_France.html#REVIEWS',
 'https://www.tripadvisor.in/Hotel_Review-g187147-d228694-Reviews-Hotel_Malte_Astotel-Paris_Ile_de_France.html#REVIEWS']

In [75]:
for link in links3:
    j = 0
    for i in range(len(data_final)):
        if data_final['Hotel_Name'][i] == link:
            data_final['Review'][i] = reviews.get(link)[j]
            j += 1

In [76]:
data_final.head(10)

,Hotel_Name,Review,Rating,User_Location,Helpful_Votes,Number_Of_Rooms
0,https://www.tripadvisor.in/Hotel_Review-g18714...,We decided to stay one night at this ‘hotel’ a...,,,,
1,https://www.tripadvisor.in/Hotel_Review-g18714...,Having had experiences with other establishmen...,,,,
2,https://www.tripadvisor.in/Hotel_Review-g18714...,We loved everything about Eden Lodge! The lo...,,,,
3,https://www.tripadvisor.in/Hotel_Review-g18714...,It's little bit tricky to find it if you arriv...,,,,
4,https://www.tripadvisor.in/Hotel_Review-g18714...,Wonderfully hidden behind an inconspicuous doo...,,,,
5,https://www.tripadvisor.in/Hotel_Review-g18714...,"The hotel is located in a nice, quiet area nea...",,,,
6,https://www.tripadvisor.in/Hotel_Review-g18714...,We stayed for a total of 9 nights. We original...,,,,
7,https://www.tripadvisor.in/Hotel_Review-g18714...,I stayed in Malte Astotel during the weekend o...,,,,
8,https://www.tripadvisor.in/Hotel_Review-g18714...,"I have been to Paris 4 times, this was the cle...",,,,
9,https://www.tripadvisor.in/Hotel_Review-g18714...,"The Manager, Alex, helped us to find a restaur...",,,,

In [77]:
for link in links3:
    j = 0
    for i in range(len(data_final)):
        if data_final['Hotel_Name'][i] == link:
            data_final['Rating'][i] = str(ratings.get(link)[j])
            j += 1

In [78]:
for link in links3:
    j = 0
    for i in range(len(data_final)):
        if data_final['Hotel_Name'][i] == link:
            data_final['User_Location'][i] = user_places.get(link)[j]
            j += 1

In [79]:
for link in links3:
    j = 0
    for i in range(len(data_final)):
        if data_final['Hotel_Name'][i] == link:
            data_final['Helpful_Votes'][i] = helpful_votes.get(link)[j]
            j += 1

In [80]:
for link in links3:
    for i in range(len(data_final)):
        if data_final['Hotel_Name'][i] == link:
            data_final['Number_Of_Rooms'][i] = num_rooms.get(link)

In [81]:
data_final['Review_Title'] = ''

for link in links3:
    j = 0
    for i in range(len(data_final)):
        if data_final['Hotel_Name'][i] == link:
            data_final['Review_Title'][i] = review_titles.get(link)[j]
            j += 1

In [82]:
data_final['Trip_Type'] = ''

for link in links3:
    j = 0
    for i in range(len(data_final)):
        if data_final['Hotel_Name'][i] == link:
            data_final['Trip_Type'][i] = trip_types.get(link)[j]
            j += 1

In [83]:
data_final['Ranking'] = ''

for link in links3:
    for i in range(len(data_final)):
        if data_final['Hotel_Name'][i] == link:
            data_final['Ranking'][i] = rankings.get(link)

In [84]:
data_final['Price_Range'] = ''

for link in links3:
    for i in range(len(data_final)):
        if data_final['Hotel_Name'][i] == link:
            data_final['Price_Range'][i] = prices.get(link)

In [85]:
data_final['Contributions'] = ''

for link in links3:
    j = 0
    for i in range(len(data_final)):
        if data_final['Hotel_Name'][i] == link:
            data_final['Contributions'][i] = contributions.get(link)[j]
            j += 1

In [86]:
data_final.tail(10)

,Hotel_Name,Review,Rating,User_Location,Helpful_Votes,Number_Of_Rooms,Review_Title,Trip_Type,Ranking,Price_Range,Contributions
5080,https://www.tripadvisor.in/Hotel_Review-g18714...,I trusted their website and booked a prepaid n...,"<span class=""ui_bubble_rating bubble_20""></span>",Mumbai,213,[38],Misleading and no promised amenities,Trip type: Travelled on business,"[#1,405 of 1,868 hotels in Paris]",[US$84 - US$199 (Based on Average Rates for a ...,366
5081,https://www.tripadvisor.in/Hotel_Review-g18714...,"Good hotel, nice, modern and clean. The hotel...","<span class=""ui_bubble_rating bubble_40""></span>",None,1,[38],Conveniently located hotel,Trip type: Travelled solo,"[#1,405 of 1,868 hotels in Paris]",[US$84 - US$199 (Based on Average Rates for a ...,1
5082,https://www.tripadvisor.in/Hotel_Review-g18714...,We picked this hotel because it was close to G...,"<span class=""ui_bubble_rating bubble_30""></span>","San Diego, California",8,[38],Newly renovated,Trip type: Travelled with family,"[#1,405 of 1,868 hotels in Paris]",[US$84 - US$199 (Based on Average Rates for a ...,22
5083,https://www.tripadvisor.in/Hotel_Review-g18714...,If you're a budget traveler then this is the p...,"<span class=""ui_bubble_rating bubble_40""></span>","Doha, Qatar",2,[38],Good place to stay in Paris,Trip type: Travelled with family,"[#1,405 of 1,868 hotels in Paris]",[US$84 - US$199 (Based on Average Rates for a ...,11
5084,https://www.tripadvisor.in/Hotel_Review-g18714...,Great little hotel located in a quiet back str...,"<span class=""ui_bubble_rating bubble_40""></span>","Manchester, United Kingdom",1,[38],Nice little Hotel,Trip type: Travelled with family,"[#1,405 of 1,868 hotels in Paris]",[US$84 - US$199 (Based on Average Rates for a ...,8
5085,https://www.tripadvisor.in/Hotel_Review-g18714...,Stayed at this hotel for one night in January ...,"<span class=""ui_bubble_rating bubble_30""></span>","Swindon, United Kingdom",63,[21],Good,Trip type: Travelled as a couple,"[#1,389 of 1,868 hotels in Paris]",[US$92 - US$254 (Based on Average Rates for a ...,74
5086,https://www.tripadvisor.in/Hotel_Review-g18714...,The hotel and staff were super friendly in ens...,"<span class=""ui_bubble_rating bubble_50""></span>","Amersham, United Kingdom",14,[21],Went out of their way to help,None,"[#1,389 of 1,868 hotels in Paris]",[US$92 - US$254 (Based on Average Rates for a ...,27
5087,https://www.tripadvisor.in/Hotel_Review-g18714...,Such a great experience to be here. Easy to g...,"<span class=""ui_bubble_rating bubble_50""></span>","London, Canada",101,[21],We loved this hotel!,None,"[#1,389 of 1,868 hotels in Paris]",[US$92 - US$254 (Based on Average Rates for a ...,85
5088,https://www.tripadvisor.in/Hotel_Review-g18714...,This hotel is located at a very good location ...,"<span class=""ui_bubble_rating bubble_30""></span>","Perth, Australia",8,[21],Quiet small hotel at a nice location,Trip type: Travelled with family,"[#1,389 of 1,868 hotels in Paris]",[US$92 - US$254 (Based on Average Rates for a ...,56
5089,https://www.tripadvisor.in/Hotel_Review-g18714...,We stayed at this hotel in our recent trip to ...,"<span class=""ui_bubble_rating bubble_30""></span>",None,2,[21],"Small, but friendly hotel",Trip type: Travelled as a couple,"[#1,389 of 1,868 hotels in Paris]",[US$92 - US$254 (Based on Average Rates for a ...,6

In [87]:
data_final.to_csv('hotel_reviews_final2.csv')

In [463]:
import re

data = pd.read_csv('hotel_reviews_final2.csv',index_col=0)
data.head(20)

,Hotel_Name,Review,Rating,User_Location,Helpful_Votes,Number_Of_Rooms,Review_Title,Trip_Type,Ranking,Price_Range,Contributions
0,https://www.tripadvisor.in/Hotel_Review-g18714...,We decided to stay one night at this ‘hotel’ a...,"<span class=""ui_bubble_rating bubble_30""></span>",canada,40,['5'],More ‘b&b’ than hotel,Trip type: Travelled with family,['#28 of 152 B&Bs / Inns in Paris'],['US$207 - US$342 (Based on Average Rates for ...,32
1,https://www.tripadvisor.in/Hotel_Review-g18714...,Having had experiences with other establishmen...,"<span class=""ui_bubble_rating bubble_20""></span>","Grottammare, Italy",103,['5'],Poorly managed property,Trip type: Travelled on business,['#28 of 152 B&Bs / Inns in Paris'],['US$207 - US$342 (Based on Average Rates for ...,171
2,https://www.tripadvisor.in/Hotel_Review-g18714...,We loved everything about Eden Lodge! The lo...,"<span class=""ui_bubble_rating bubble_50""></span>","Stockholm, Sweden",2,['5'],A small and lovely gem in Paris!,Trip type: Travelled with friends,['#28 of 152 B&Bs / Inns in Paris'],['US$207 - US$342 (Based on Average Rates for ...,1
3,https://www.tripadvisor.in/Hotel_Review-g18714...,It's little bit tricky to find it if you arriv...,"<span class=""ui_bubble_rating bubble_50""></span>",NaN,3,['5'],Paradice in the heart of Paris,Trip type: Travelled as a couple,['#28 of 152 B&Bs / Inns in Paris'],['US$207 - US$342 (Based on Average Rates for ...,9
4,https://www.tripadvisor.in/Hotel_Review-g18714...,Wonderfully hidden behind an inconspicuous doo...,"<span class=""ui_bubble_rating bubble_40""></span>","Antwerp, Belgium",63,['5'],Peaceful oasis in the midst of vibrance,NaN,['#28 of 152 B&Bs / Inns in Paris'],['US$207 - US$342 (Based on Average Rates for ...,121
5,https://www.tripadvisor.in/Hotel_Review-g18714...,"The hotel is located in a nice, quiet area nea...","<span class=""ui_bubble_rating bubble_50""></span>",NaN,None,['64'],Perfect stay,Trip type: Travelled with family,"['#5 of 1,868 hotels in Paris']",['US$167 - US$379 (Based on Average Rates for ...,1
6,https://www.tripadvisor.in/Hotel_Review-g18714...,We stayed for a total of 9 nights. We original...,"<span class=""ui_bubble_rating bubble_50""></span>","Newark, California",9,['64'],Highly recommended,Trip type: Travelled with family,"['#5 of 1,868 hotels in Paris']",['US$167 - US$379 (Based on Average Rates for ...,20
7,https://www.tripadvisor.in/Hotel_Review-g18714...,I stayed in Malte Astotel during the weekend o...,"<span class=""ui_bubble_rating bubble_50""></span>","Luxembourg City, Luxembourg",None,['64'],Very friendly and warm service,Trip type: Travelled with family,"['#5 of 1,868 hotels in Paris']",['US$167 - US$379 (Based on Average Rates for ...,9
8,https://www.tripadvisor.in/Hotel_Review-g18714...,"I have been to Paris 4 times, this was the cle...","<span class=""ui_bubble_rating bubble_50""></span>","Phoenix, Arizona",1,['64'],Excellent Hotel,NaN,"['#5 of 1,868 hotels in Paris']",['US$167 - US$379 (Based on Average Rates for ...,2
9,https://www.tripadvisor.in/Hotel_Review-g18714...,"The Manager, Alex, helped us to find a restaur...","<span class=""ui_bubble_rating bubble_50""></span>",NaN,None,['64'],Above and Beyond - Exceptional Service,Trip type: Travelled as a couple,"['#5 of 1,868 hotels in Paris']",['US$167 - US$379 (Based on Average Rates for ...,1
10,https://www.tripadvisor.in/Hotel_Review-g18714...,We came to Paris for a family matter and staye...,"<span class=""ui_bubble_rating bubble_50""></span>",NaN,None,['50'],Great hotel,Trip type: Travelled with family,"['#9 of 1,868 hotels in Paris']",['US$164 - US$373 (Based on Average Rates for ...,1
11,https://www.tripadvisor.in/Hotel_Review-g18714...,We will definitely come back to the Astotel. W...,"<span class=""ui_bubble_rating bubble_50""></span>",NaN,2,['50'],"Excellent hotel: great price, free snacks, nic...",NaN,"['#9 of 1,868 hotels in Paris']",['US$164 - US$373 (Based on Average Rates for ...,1
12,https://www.tripadvisor.in/Hotel_Review-g18714...,We needed a Covid test to return to our countr...,"<span class=""ui_bubble_rating bubble_50""></span>",NaN,None,['50'],"Very helpful staff, cozy boutique hotel",NaN,"['#9 of 1,868 hotels in Paris']",['US$164 - US$373 (Based on Average Rates for ...,2
13,https://www.tripadvisor.in/Hotel_Review-g18714...,"I love the location near to Champs Elysees, ou...","<span class=""ui_bubble_rating bubble_50""></span>",NaN,None,['50'],"""We enjoy this pretty hotel with wonderful loc...",NaN,"['#9 of 1,868 hotels in Paris']",['US$164 - US$373 (Based on Average Rates for ...,1
14,https://www.tripadvisor.in/Hotel_Review-g18714...,Very well located 2 streets from Champs Elysee...,"<span class=""ui_bubble_rating bubble_50""></span>",NaN,1,['50'],Very good Hotel at a reasonable price,NaN,"['#9 of 1,868 hotels in Paris']",['US$164 - US$373 (Based on Average Rates for ...,1
15,https://www.tripadvisor.in/Hotel_Review-g18714...,Stayed 5 nights in a room with balcony: spatio...,"<span class=""ui_bubble_rating bubble_50""></span>",NaN,None,['63'],A really wonderful stay!!,Trip type: Travelled as a couple,"['#27 of 1,868 hotels in Paris']",['US$162 - US$344 (Based on Average Rates for ...,1
16,https://www.tripadvisor.in/Hotel_Review-g18714...,This charming hotel with a fun cinema theme is...,"<span class=""ui_bubble_rating bubble_50""></span>",NaN,1,['63'],"Great hotel, great location",Trip type: Travelled with friends,"['#27 of 1,868 hotels in Paris']",['US$162 - US$344 (Based on Average Rates for ...,2
17,https://www.tripadvisor.in/Hotel_Review-g18714...,It was a great stay at the hotel and I was ple...,"<span class=""ui_bubble_rating bubble_40""></span>",NaN,None,['63'],Pleasant stay and clean rooms,NaN,"['#27 of 1,868 hotels in Paris']",['US$162 - US$344 (Based on Average Rates for ...,1
18,https://www.tripadvisor.in/Hotel_Review-g18714...,The reception is absolutely amazing! Very kind...,"<span class=""ui_bubble_rating bubble_50""></span>",NaN,None,['63'],Incredible experience,Trip type: Travelled on business,"['#27 of 1,868 hotels in Paris']",['US$162 - US$344 (Based on Average Rates for ...,1
19,https://www.tripadvisor.in/Hotel_Review-g18714...,The staff is very very helpful and friendly. I...,"<span class=""ui_bubble_rating bubble_50""></span>",NaN,3,['63'],excellent!,Trip type: Travelled on business,"['#27 of 1,868 hotels in Paris']",['US$162 - US$344 (Based on Average Rates for ...,8

In [464]:
name = data['Hotel_Name'][0]
name

'https://www.tripadvisor.in/Hotel_Review-g187147-d8873883-Reviews-Eden_Lodge_Paris-Paris_Ile_de_France.html#REVIEWS'

In [465]:
new_name = ''
index = 0

index = name.find('-Reviews-')
index += 9
new_name += name[index:-13]
new_name

'Eden_Lodge_Paris-Paris_Ile_de_France'

In [466]:
for i in range(len(data)):
    name = ''
    index = data['Hotel_Name'][i].find('-Reviews-')
    index += 9
    name += data['Hotel_Name'][i][index:-13]
    data['Hotel_Name'][i] = name
    index = 0
    
data.head()

<ipython-input-466-55c00481ffbd>:6: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Hotel_Name,Review,Rating,User_Location,Helpful_Votes,Number_Of_Rooms,Review_Title,Trip_Type,Ranking,Price_Range,Contributions
0,Eden_Lodge_Paris-Paris_Ile_de_France,We decided to stay one night at this ‘hotel’ a...,"<span class=""ui_bubble_rating bubble_30""></span>",canada,40,['5'],More ‘b&b’ than hotel,Trip type: Travelled with family,['#28 of 152 B&Bs / Inns in Paris'],['US$207 - US$342 (Based on Average Rates for ...,32
1,Eden_Lodge_Paris-Paris_Ile_de_France,Having had experiences with other establishmen...,"<span class=""ui_bubble_rating bubble_20""></span>","Grottammare, Italy",103,['5'],Poorly managed property,Trip type: Travelled on business,['#28 of 152 B&Bs / Inns in Paris'],['US$207 - US$342 (Based on Average Rates for ...,171
2,Eden_Lodge_Paris-Paris_Ile_de_France,We loved everything about Eden Lodge! The lo...,"<span class=""ui_bubble_rating bubble_50""></span>","Stockholm, Sweden",2,['5'],A small and lovely gem in Paris!,Trip type: Travelled with friends,['#28 of 152 B&Bs / Inns in Paris'],['US$207 - US$342 (Based on Average Rates for ...,1
3,Eden_Lodge_Paris-Paris_Ile_de_France,It's little bit tricky to find it if you arriv...,"<span class=""ui_bubble_rating bubble_50""></span>",NaN,3,['5'],Paradice in the heart of Paris,Trip type: Travelled as a couple,['#28 of 152 B&Bs / Inns in Paris'],['US$207 - US$342 (Based on Average Rates for ...,9
4,Eden_Lodge_Paris-Paris_Ile_de_France,Wonderfully hidden behind an inconspicuous doo...,"<span class=""ui_bubble_rating bubble_40""></span>","Antwerp, Belgium",63,['5'],Peaceful oasis in the midst of vibrance,NaN,['#28 of 152 B&Bs / Inns in Paris'],['US$207 - US$342 (Based on Average Rates for ...,121

In [472]:
for i in range(len(data)):
    rating = data['Rating'][i]
    rating2 = re.sub('\D','',rating)
    rating3 = float(rating2[0])
    data['Rating'][i] = rating3

data.head()

<ipython-input-472-3dc441d69959>:5: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Hotel_Name,Review,Rating,User_Location,Helpful_Votes,Number_Of_Rooms,Review_Title,Trip_Type,Ranking,Price_Range,Contributions
0,Eden_Lodge_Paris-Paris_Ile_de_France,We decided to stay one night at this ‘hotel’ a...,3,canada,40,['5'],More ‘b&b’ than hotel,Trip type: Travelled with family,['#28 of 152 B&Bs / Inns in Paris'],['US$207 - US$342 (Based on Average Rates for ...,32
1,Eden_Lodge_Paris-Paris_Ile_de_France,Having had experiences with other establishmen...,2,"Grottammare, Italy",103,['5'],Poorly managed property,Trip type: Travelled on business,['#28 of 152 B&Bs / Inns in Paris'],['US$207 - US$342 (Based on Average Rates for ...,171
2,Eden_Lodge_Paris-Paris_Ile_de_France,We loved everything about Eden Lodge! The lo...,5,"Stockholm, Sweden",2,['5'],A small and lovely gem in Paris!,Trip type: Travelled with friends,['#28 of 152 B&Bs / Inns in Paris'],['US$207 - US$342 (Based on Average Rates for ...,1
3,Eden_Lodge_Paris-Paris_Ile_de_France,It's little bit tricky to find it if you arriv...,5,NaN,3,['5'],Paradice in the heart of Paris,Trip type: Travelled as a couple,['#28 of 152 B&Bs / Inns in Paris'],['US$207 - US$342 (Based on Average Rates for ...,9
4,Eden_Lodge_Paris-Paris_Ile_de_France,Wonderfully hidden behind an inconspicuous doo...,4,"Antwerp, Belgium",63,['5'],Peaceful oasis in the midst of vibrance,NaN,['#28 of 152 B&Bs / Inns in Paris'],['US$207 - US$342 (Based on Average Rates for ...,121

In [479]:
for i in range(len(data)):
    room = data['Number_Of_Rooms'][i]
    room2 = re.sub('\D','',room)
    room3 = int(room2)
    data['Number_Of_Rooms'][i] = room3

data.head()

<ipython-input-479-4902b04611ca>:5: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Hotel_Name,Review,Rating,User_Location,Helpful_Votes,Number_Of_Rooms,Review_Title,Trip_Type,Ranking,Price_Range,Contributions
0,Eden_Lodge_Paris-Paris_Ile_de_France,We decided to stay one night at this ‘hotel’ a...,3,canada,40,5,More ‘b&b’ than hotel,Trip type: Travelled with family,['#28 of 152 B&Bs / Inns in Paris'],['US$207 - US$342 (Based on Average Rates for ...,32
1,Eden_Lodge_Paris-Paris_Ile_de_France,Having had experiences with other establishmen...,2,"Grottammare, Italy",103,5,Poorly managed property,Trip type: Travelled on business,['#28 of 152 B&Bs / Inns in Paris'],['US$207 - US$342 (Based on Average Rates for ...,171
2,Eden_Lodge_Paris-Paris_Ile_de_France,We loved everything about Eden Lodge! The lo...,5,"Stockholm, Sweden",2,5,A small and lovely gem in Paris!,Trip type: Travelled with friends,['#28 of 152 B&Bs / Inns in Paris'],['US$207 - US$342 (Based on Average Rates for ...,1
3,Eden_Lodge_Paris-Paris_Ile_de_France,It's little bit tricky to find it if you arriv...,5,NaN,3,5,Paradice in the heart of Paris,Trip type: Travelled as a couple,['#28 of 152 B&Bs / Inns in Paris'],['US$207 - US$342 (Based on Average Rates for ...,9
4,Eden_Lodge_Paris-Paris_Ile_de_France,Wonderfully hidden behind an inconspicuous doo...,4,"Antwerp, Belgium",63,5,Peaceful oasis in the midst of vibrance,NaN,['#28 of 152 B&Bs / Inns in Paris'],['US$207 - US$342 (Based on Average Rates for ...,121

In [523]:
data['Low_Price_Room'] = 0
data['High_Price_Room'] = 0

for i in range(len(data)):
    price = data['Price_Range'][i]
    prices = price.split('-')
    try:
        data['Low_Price_Room'][i] = int(re.sub('\D','',prices[0]))
        data['High_Price_Room'][i] = int(re.sub('\D','',prices[1]))
    except:
        continue
        
data.head()

<ipython-input-523-9fd198462175>:8: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

<ipython-input-523-9fd198462175>:9: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Hotel_Name,Review,Rating,User_Location,Helpful_Votes,Number_Of_Rooms,Review_Title,Trip_Type,Ranking,Price_Range,Contributions,Low_Price_Room,High_Price_Room
0,Eden_Lodge_Paris-Paris_Ile_de_France,We decided to stay one night at this ‘hotel’ a...,3,canada,40,5,More ‘b&b’ than hotel,Trip type: Travelled with family,['#28 of 152 B&Bs / Inns in Paris'],['US$207 - US$342 (Based on Average Rates for ...,32,207,342
1,Eden_Lodge_Paris-Paris_Ile_de_France,Having had experiences with other establishmen...,2,"Grottammare, Italy",103,5,Poorly managed property,Trip type: Travelled on business,['#28 of 152 B&Bs / Inns in Paris'],['US$207 - US$342 (Based on Average Rates for ...,171,207,342
2,Eden_Lodge_Paris-Paris_Ile_de_France,We loved everything about Eden Lodge! The lo...,5,"Stockholm, Sweden",2,5,A small and lovely gem in Paris!,Trip type: Travelled with friends,['#28 of 152 B&Bs / Inns in Paris'],['US$207 - US$342 (Based on Average Rates for ...,1,207,342
3,Eden_Lodge_Paris-Paris_Ile_de_France,It's little bit tricky to find it if you arriv...,5,NaN,3,5,Paradice in the heart of Paris,Trip type: Travelled as a couple,['#28 of 152 B&Bs / Inns in Paris'],['US$207 - US$342 (Based on Average Rates for ...,9,207,342
4,Eden_Lodge_Paris-Paris_Ile_de_France,Wonderfully hidden behind an inconspicuous doo...,4,"Antwerp, Belgium",63,5,Peaceful oasis in the midst of vibrance,NaN,['#28 of 152 B&Bs / Inns in Paris'],['US$207 - US$342 (Based on Average Rates for ...,121,207,342

In [552]:
data['B&B_Ranking'] = 0
data['Hotel_Ranking'] = 0
data['Spec_Lodge_Ranking'] = 0

In [565]:
for i in range(len(data)):
    if 'hotels' in data['Ranking'][i]:
        data['Hotel_Ranking'][i] = int(re.search('[0-9]+', data['Ranking'][i]).group())
    elif 'B&Bs' in data['Ranking'][i]:
        data['B&B_Ranking'][i] = int(re.search('[0-9]+', data['Ranking'][i]).group())
    elif 'lodging' in data['Ranking'][i]:
        data['Spec_Lodge_Ranking'][i] = int(re.search('[0-9]+', data['Ranking'][i]).group())

<ipython-input-565-0d8067e869cf>:5: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

<ipython-input-565-0d8067e869cf>:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

<ipython-input-565-0d8067e869cf>:7: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [566]:
data.head()

,Hotel_Name,Review,Rating,User_Location,Helpful_Votes,Number_Of_Rooms,Review_Title,Trip_Type,Ranking,Price_Range,Contributions,Low_Price_Room,High_Price_Room,B&B_Ranking,Hotel_Ranking,Spec_Lodge_Ranking
0,Eden_Lodge_Paris-Paris_Ile_de_France,We decided to stay one night at this ‘hotel’ a...,3,canada,40,5,More ‘b&b’ than hotel,Trip type: Travelled with family,['#28 of 152 B&Bs / Inns in Paris'],['US$207 - US$342 (Based on Average Rates for ...,32,207,342,28,0,0
1,Eden_Lodge_Paris-Paris_Ile_de_France,Having had experiences with other establishmen...,2,"Grottammare, Italy",103,5,Poorly managed property,Trip type: Travelled on business,['#28 of 152 B&Bs / Inns in Paris'],['US$207 - US$342 (Based on Average Rates for ...,171,207,342,28,0,0
2,Eden_Lodge_Paris-Paris_Ile_de_France,We loved everything about Eden Lodge! The lo...,5,"Stockholm, Sweden",2,5,A small and lovely gem in Paris!,Trip type: Travelled with friends,['#28 of 152 B&Bs / Inns in Paris'],['US$207 - US$342 (Based on Average Rates for ...,1,207,342,28,0,0
3,Eden_Lodge_Paris-Paris_Ile_de_France,It's little bit tricky to find it if you arriv...,5,NaN,3,5,Paradice in the heart of Paris,Trip type: Travelled as a couple,['#28 of 152 B&Bs / Inns in Paris'],['US$207 - US$342 (Based on Average Rates for ...,9,207,342,28,0,0
4,Eden_Lodge_Paris-Paris_Ile_de_France,Wonderfully hidden behind an inconspicuous doo...,4,"Antwerp, Belgium",63,5,Peaceful oasis in the midst of vibrance,NaN,['#28 of 152 B&Bs / Inns in Paris'],['US$207 - US$342 (Based on Average Rates for ...,121,207,342,28,0,0

In [567]:
data.to_csv('Final_Hotel_Reviews_Clean.csv')